<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Donate</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Weather application</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">Main page</a>
      <a class="p-2 text-dark" href="/info">Info</a>
    </nav>
    <a class="btn btn-outline-primary" href="/donate">Donate</a>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-5">
        <h3>On this page you can donate me some money for bread =3</h3>
      </div>
      <div class="col-5 offset-2">
        <h1>Requisites</h1><br>
          <h6>
            <ul>
              <li>Visa/MasterCard: <b>4274 3200 2579 9506</b></a></li><br>
              <li>Qiwi: <b>+79509950249</b></li><br>
              <li>VKpay: <b><a href="https://vk.com/vkpay#action=transfer-to-user&user_id=247668343">Click</a></b></li>
            </ul>
          </h6>
      </div>
    </div>
  </div>
  <br>
  <footer class="container">
    <p>© 2020 || Yardani</p>
  </footer>
</body>
</html>
