<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Information</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Weather application</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="/">Main page</a>
      <a class="p-2 text-dark" href="/info">Info</a>
    </nav>
    <a class="btn btn-outline-primary" href="/donate">Donate</a>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-5">
        <h1>Information</h1><br>
        <h3>This is my first Django project.</h3><br>
        <h4>You can find here information about weather.</h4>
      </div>
      <div class="col-5 offset-2">
        <h1>Contacts</h1><br>
          <h6>
            <ul>
              <li>VK: <a href="https://vk.com/yardani138">https://vk.com/yardani138</a></li><br>
              <li>FaceBook: <a href="https://www.facebook.com/Yardani138">https://www.facebook.com/Yardani138</a></li><br>
              <li>GitHub: <a href="https://github.com/Yardani138">https://github.com/Yardani138</a></li>
            </ul>
          </h6>
      </div>
    </div>
  </div>
  <br>
  <footer class="container">
    <p>© 2020 || Yardani</p>
  </footer>
</body>
</html>
